/*
Colors
Tomato: B70505
dark grey: 373234
yellow: FCBF29
*/

body { 
    background: #FCBF29; 
    font-family: 'Barlow', sans-serif;
    margin: 0px;
}

header h1{
    font-family: 'Montserrat', sans-serif;
    padding: 0 10px;
    font-weight: 100;
}

header .contact {
    float: right;
    font-weight: 700;
    padding: 10px;
    color: #373234;
}

header .banner {
    background-color: #373234;
    color: #FFFFFF;
    padding:10px 30px;


}

.tomato{
    color: #B70505;
}
