/*
Colors
Tomato: B70505
dark grey: 373234
yellow: FCBF29
*/

body { 
    background: #FCBF29; 
    font-family: 'Barlow', sans-serif;
    margin: 0px;
}

img { width: 100%;}

header h1{
    font-family: 'Montserrat', sans-serif;
    padding: 0 10px;
    font-weight: 100;
}

header .contact {
    float: right;
    font-weight: 700;
    padding: 10px;
    color: #373234;
}

header .banner {
    background-color: #373234;
    color: #FFFFFF;
    padding:10px 30px;


}

article {
    
    margin: 0 auto;
    max-width: 800px;
    padding: 30px;
    clear: both;
}

article.right-article img, article.left-article img {
    max-width: 300px;
    margin: 10px;
}

@media (min-width: 600px){
    article.right-article img {
        float: left;
    }

    article.left-article img {
        float: right;
    }
}

article.approach img {
    display:block;
    max-width: 400px;
    float: right;

}

section { 
    margin: 0 auto;
    clear:both;
    padding: 0 30px;
    max-width: 600px;
}


.tomato{
    color: #B70505;
    font-weight: 700;
}

#corner-bulb {
    float:right;
    margin-top:-75px;
    width:100px;
}
